@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --primary-color: #ff5400;
}

/* header section style start */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.47%;
}

.nav-title {
  display: flex;
  align-items: center;
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.nav-title h3 {
  margin-left: 16px;
}

.nav-title span {
  color: var(--primary-color);
}

.nav-container ul {
  display: flex;
  list-style: none;
}

.nav-container a {
  text-decoration: none;
  color: #424247;
  margin: 0 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}

.nav-container ul li a.active {
  font-weight: 700;
  color: var(--primary-color);
}

.nav-container input,
label {
  display: none;
}

/* header section end */

/* banner section start */

.banner-container {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/Group 13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.47%;
  border: 1px solid;
  border-radius: 16px;
  height: fit-content;
  height: 70vh;
}

.banner-details {
  text-align: center;
  width: 48%;
  height: auto;
}

.banner-details h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.banner-details p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.banner-find-now-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 56%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.banner-find-now-bar select {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  outline: 0;
  cursor: pointer;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-appearance: none;
  background-image: url("Images/select.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  position: relative;
  left: 20px;
}

.banner-find-now-bar input {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  outline: 0;
  cursor: pointer;
  /* color: rgba(19, 19, 24, 0.5); */
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  left: 20px;
}

.find-now-color {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-find-now-bar svg {
  position: relative;
  right: 165px;
}

.banner-selectors {
  text-align: center;
}

/* banner section end */

/* Tour Plan section style start */

.tour-plan-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3.47%;
  height: 70vh;
}

.tour-plan-description {
  width: 50%;
}

.tour-plan-description h1 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.tour-plan-description p {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.tour-plan-description ul {
  margin: 30px;
}

.tour-plan-description li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 15px;
}

.btn {
  border-radius: 8px;
  background: var(--primary-color);
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  cursor: pointer;
}

/* Tour Plan section style end */

/* choose destination section start */

.choose-destination-container {
  display: flex;
  flex-direction: column;
}

.choose-destination-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-destination-description h1 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.choose-destination-description p {
  width: 54.65%;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 48px;
}

.choose-destination-collage-row1 {
  display: flex;
  justify-content: space-between;
  
}

.maldives-container {
  background-image: url("Images/Rectangle 5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* width: 49%; */
  width: 50%;
  height: 40vh;
}

.maldives-container h3 {
  position: relative;
  top: 45%;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.indonesia-container {
  background-image: url("Images/Rectangle 8.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50%;
  height: 40vh;
  margin-left: 24px;
  position: relative;
  top: 4px;
}

.indonesia-container h3 {
    position: relative;
    top: 45%;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

.choose-destination-collage-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.srilanka-container {
    background-image: url("Images/Rectangle 6.png");
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 900px;
    height: fit-content;
    height: 40vh;
    margin-left: 24px;
    position: relative;
    right: 24px;
  }

  .srilanka-container h3 {
    position: relative;
    top: 45%;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

.North-America-container {
    background-image: url("Images/Rectangle 7.png");
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1140px;
    height: 40vh;
  }

  .North-America-container h3 {
    position: relative;
    top: 45%;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

.Kashmir-container {
    background-image: url("Images/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 46%;
    height: fit-content;
    height: 40vh;
    margin-left: 24px;
  }

  .Kashmir-container h3 {
    position: relative;
    top: 45%;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .choose-destination-collage-row3 {
    display: flex;
    justify-content: space-between;
  }
  
  .bangladesh-container {
    background-image: url("Images/Rectangle 11.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* width: 49%; */
    width: 50%;
    height: 40vh;
  }
  
  .bangladesh-container h3 {
    position: relative;
    top: 45%;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .bandarban-container {
    background-image: url("Images/Rectangle 10.png");
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 71%;
    height: 40vh;
    margin-left: 24px;
    position: relative;
    top: 4px;
  }
  
  .bandarban-container h3 {
      position: relative;
      top: 45%;
      color: #fff;
      text-align: center;
      font-family: Mulish;
      font-size: 38px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }


/* choose destination section end */

/* Media Query for small screens */
@media only screen and (max-width: 600px) {
  /* header section start*/
  .nav-container ul {
    position: fixed;
    top: 80px;
    background: rgb(182, 132, 89);
    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    left: -100%;
    transition: all 0.2s ease-in;
  }

  #menu-click {
    display: none;
  }

  #menu-click:checked ~ ul {
    left: 0%;
  }

  .nav-container a {
    margin-bottom: 10px;
  }
  .nav-container input,
  label {
    display: block;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
  }

  .nav-container label {
    position: relative;
    left: -10px;
    top: 7px;
  }
  /* header section end */

  /* banner section start */
  .banner-container {
    margin: 16px;
    width: 95vw;
  }

  .banner-details {
    position: relative;
  }

  .banner-details h1 {
    font-size: 28px;
  }
  .banner-details p {
    text-align: center;
    font-size: 14px;
  }

  .banner-find-now-bar {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 70vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-right: 35px;
  }

  .banner-find-now-bar svg {
    position: relative;
    right: 40px;
    top: -52px;
  }

  .banner-find-now-bar input {
    width: 80%;
  }

  .banner-find-now-bar select {
    width: 80%;
  }
  /* banner section end */

  /* Tour Plan section style start*/

  .tour-plan-container {
    display: flex;
    flex-direction: column;
    width: 130vh;
    position: relative;
    left: 20px;
  }

  .tour-plan-description h1 {
    text-align: left;
  }

  .tour-plan-image img {
    margin-top: 24px;
    width: 65vh;
    height: 442px;
    flex-shrink: 0;
  }
  /* Tour Plan section style end */

  /* choose destination section start */
  .choose-destination-description {
    display: flex;
    flex-direction: column;
    margin-top: 600px;
  }
  .choose-destination-collage-row1{
    display: flex;
    flex-direction: column;
  }

  .choose-destination-collage-row2{
    display: flex;
    flex-direction: column;
  }

  .choose-destination-collage-row3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .maldives-container{
    width: 65vh;
    position: relative;
    top: -10px;
    right: -20px;
    border-radius: 16px solid;
  }

  .indonesia-container{
    width: 65vh;
    position: relative;
    top: -10px;
    right: 5px;
    border-radius: 16px solid;
  }
  .indonesia-container h3{
    position: relative;
    top: 130px;
  }

  .srilanka-container{
    width: 65vh;
    position: relative;
    top: -60px;
    right: 9px;
    background-size: cover;
    background-position: center;
    border-radius: 16px solid;
  }

  .North-America-container{
    width: 65vh;
    position: relative;
    top: -30px;
    right: -3px;
    background-size: cover;
    background-position: center;
    border-radius: 16px solid;
  }

  .Kashmir-container{
    width: 65vh;
    position: relative;
    right: 9px;
    background-size: cover;
    background-position: center;
    border-radius: 16px solid;
  }

  .bangladesh-container{
    width: 65vh;
    position: relative;
    top: 24px;
    right: -3px;
    background-size: cover;
    background-position: center;
    border-radius: 16px solid;
  }

  .bandarban-container{
    width: 65vh;
    position: relative;
    top: 45px;
    right: 9px;
    background-size: cover;
    background-position: center;
    border-radius: 16px solid;
  }
  /* choose destination section end */
}
